<form action="/drink-update" method="post" enctype="multipart/form-data">

    <label for="drink-name">Name</label>
   <input type="text" name="name" id="name" value="{{this.name}}">

   <label for="ABV">ABV (Alcohol By Volume)</label>
   <input type="number" name="ABV" id="ABV" value="{{this.ABV}}">

    <label for="size">Size</label>
    <select name="size" id="size">
        <option value="-1" disabled selected>Choose a size </option>
        {{#each drink}}
            <option value="{{this._id}}">{{this.size}}</option>
        {{/each}}
    </select>

    <img class="preview" src="{{drink.image}}" alt="{{drink.name}}">

    <label for="drink-image">Choose a Image</label>
    <input type="file" name="image" id="image">
</form>